/*Assignment 4--
this is stylesheet page for formatting the form
Created By: Almas khan
Created on: August 8, 2016*/
html	
{
	background-color:black;
	font-family:Tahoma, Geneva, sans-serif;
}
body 
{  
	font-family: Verdana, Arial, Helvetica, sans-serif;   
	font-size: 100%;
	width: 1500px;

	background-color: #CCCCCC;
	border: 2px solid black;
	margin: 0;
	
	margin-right: 249px;
	margin-left: 249px;
	float: center;
	/*text-align: center;*/
	padding-top: 50px;

}
.container label
{   
    position:absolute;
	left:450px;
    margin-right:1px; 
}
.container input
{   
    position:absolute;
	left:850px;
    margin-right:1px; 
}
#error
{
	left:450px;
	color: red;
}

.req:after
{
	content:"*";
	color:red;
}
legend
{
	font-weight: bold;
	font-size: 40;
}
button
{
	font-weight:bold;
	color: blue;
	box-shadow: 2px 2px 0 black;
}
p
{
	text-align: center;
	
}
img
{
	border: 2px solid black;
	}
